.clasificatoria{
    padding: 0rem;
    margin: 0rem;
    display: flex;
    flex-direction: column;
}

.clasificatoria .artClasificatoria {
    padding: 0rem;
    margin: 0rem;
    display: flex;
    flex-direction: row;

    background-color: #8FC1B5;
    border-radius: 10px;
    justify-content: center;
}

.artClasificatoria .enfrentamiento {
    padding: 0rem;
    margin: 0rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.artClasificatoria .enfrentamiento ul{
    padding: 2rem;
    margin: 0rem;
    display: flex;
    flex-direction: column;

    list-style: none;
}

.artClasificatoria .enfrentamiento li{
    padding: 0.5rem;
    margin: 0rem;

    text-align: center;
}

.artClasificatoria .partido {
    padding: 1rem;
    margin: 0rem;  
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.artClasificatoria .artPartido{
    padding: 2rem;
    margin: 0rem;
    display: flex;
    flex-direction: row;

    list-style: none;
    background-color: #AFC5C0;
    border-radius: 10px;
}

.artClasificatoria .partido .artPartido li {
    padding: 1rem;
    margin: 0rem;    

    text-align: center;
}

.artClasificatoria .artHorario{
    padding: 0rem;
    margin: 0rem;
    display: flex;
    flex-direction: row;
    justify-content: center;

    list-style: none;
}

.artClasificatoria .partido .artHorario li {
    padding: 0rem;
    margin: 0rem;    

    text-align: center;
}