.tarjeta-jug {
    margin: 2rem;
    background-color: #8FC1B5;
    border-radius: 30px;
    padding: 2rem;
}

.tarjeta-jug .nom-jugador {
    text-decoration: none;
    font-family: 'Sarabun', sans-serif;
    font-size: 48px;
    color: white;
}

.tarjeta-jug article{
    display: flex;
    margin: 2rem;
    justify-content: center;
    align-items: center;
}

.tarjeta-jug article ul{
    list-style-type: none;
    padding-right: 5rem;
}

.tarjeta-jug article ul li{
    text-decoration: none;
    font-family: 'Sarabun', sans-serif;
    font-size: 18px;
    color: #265C4C;
    font-weight: bold;
}

