*{
    margin: 0;
}

.container-1 {
    padding: 0;
    padding-top: 5rem;
}

.caratula {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.caratula img{
    width: 90%;
    margin: 3rem;
    margin-left: 5rem;
}

.caratula .info-equipo {
    margin: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caratula .info-equipo h2 {
    font-family: 'Vina Sans', cursive;
    font-size: 48px;
    color: #265C4C;
}

.caratula .info-equipo .despript {
    width: 50%;
    margin-top: 1rem;
    background-color: rgba(236, 189, 25, 0.34);
    border-radius: 30px;
    padding: 1.5rem;
}

.detalle {
    display: flex;
    flex-direction: row;
}

.detalle .circle {
    padding-right: 4rem;
    height: 100%;
}

.detalle h2 {
    font-family: 'Vina Sans', cursive;
    font-size: 72px;
    color: #ECBD19;
}

.detalle .despript{
    margin: 2rem;
    margin-left: 0;
}

.detalle .despript ul{
    list-style-type: none;
    padding: 0;
}

.detalle .despript ul li{
    margin: 1rem;
    font-family: 'Sarabun', sans-serif;
    font-size: 18px;
    color: #265C4C;
    font-weight: bold;
}

.detalle p{
    text-align: center;
    margin: 2rem;
}

.detalle p a{
    text-decoration: none;
    font-family: 'Sarabun', sans-serif;
    font-size: 18px;
    color: #265C4C;
    font-weight: bold;
}

.integrantes {
    display: flex;
    flex-direction: row;
}

.integrantes .titulo {
    width: 100%;
    bottom: 2rem;
}

.integrantes .tarjetas-info {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.integrantes .tarjetas-info .jugador {
    padding: 2rem;
    background-color: #8FC1B5;
    border-radius: 30px;
}

.integrantes .tarjetas-info .jugador h2 {
    font-family: 'Sarabun', sans-serif;
    font-size: 48px;
    color: white;
    font-weight: bold;
    margin: 1rem;
}

.integrantes .tarjetas-info .jugador ul {
    list-style-type: none;
    text-align: right;
}

.integrantes .tarjetas-info .jugador ul li {
    margin: 1rem;
    font-family: 'Sarabun', sans-serif;
    font-size: 18px;
    color: black;
}

.integrantes .tarjetas-info .tecnicos {
    padding: 4rem;
    background-color: rgba(236, 189, 25, 0.50);
    border-radius: 30px;
    margin: 2rem;
}

.integrantes .tarjetas-info .tecnicos h2 {
    font-family: 'Sarabun', sans-serif;
    font-size: 48px;
    color: white;
    font-weight: bold;
    margin: 2rem;
    line-height: normal;
}

.integrantes .tarjetas-info .tecnicos ul {
    list-style-type: none;
    text-align: right;
}

.integrantes .tarjetas-info .tecnicos ul li {
    margin: 1rem;
    font-family: 'Sarabun', sans-serif;
    font-size: 18px;
    color: black;
}

.historial {
    width: 100%;
    background-color: #265C4C;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.historial h1 {
    color: #ECBD19;
    margin: 2rem;
}

.historial .tabla-hist {
    margin: 2rem;
    background-color: #AFC5C0;
    padding: 2rem;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    width: 40%;
}

.historial .tabla-hist table{
    padding: 1rem;
    border: none;
}

.historial .tabla-hist table th{
    padding: 2rem;
    border: none;
    border-bottom: 1px solid black;
}

.historial .tabla-hist table tbody{
    border: none;
}

.historial .tabla-hist table tbody td{
    border: none;
    padding: 2rem;
}

.calendario {
    margin-top: 2rem;
    margin: 1rem;
}

.calendario h1 {
    color: #ECBD19;
}

.calendario .cal-juegos{
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendario .cal-juegos section{
    background-color: rgba(143, 193, 181, 0.50);
    margin: 3rem;
    padding: 1rem;
    border-radius: 30px;
    width: 50%;
}

.calendario .cal-juegos section h3{
    margin: 1rem;
    font-family: 'Sarabun', sans-serif;
    font-size: 48px;
    color: black;
    margin-right: 2rem;
}

.calendario .cal-juegos section article{
    background-color: #AFC5C0;
    margin: 1rem;
    border-radius: 30px;
    padding: 1.5rem;
}







