.form-box{
    width:400px;
    height: 400px;
    border-radius: 30px;
    background-color: #8FC1B5;
    text-align: center;
}

.form-title{
    justify-content: center;
    color: white;
    font-weight: 300;
    font-family: 'Sarabun Bold', cursive;
}

.form-box input[type="text"],
.form-box input[type="password"],
.form-box button[type="submit"]{
    border: 2px solid white;
    border-radius: 30px;
    display: block;
    margin: 40px auto;
    padding: 14px 10px;
    text-align: center;
    color: black;
}

.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #808080;
    text-decoration: none;
    border-radius: 30px;
    
}

.button-link:hover {
    background-color: #f2f2f2;
    color: #666666;
}