.subNavBar ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;

  /*Contenedor*/
  padding: 0rem;
  margin: 0rem;
}

.subNavBar li {
  margin: 1rem;
}

.subNavBar a {
  /*Estilo del vinculo*/
  color: black;
  text-decoration: none;
  font-family: "Sarabun", sans-serif;
  font-weight: 400;
  font-size: 18px;

  /*Contenedor*/
  padding: 0.5rem;
}

.subNavBar a:hover {
  /*Hover del vinculo*/
  background-color: #ecbd19;
  border-radius: 10px;
  color: white;
  transition: 0.5s;
}

.subNavBar .selectionSubNav {
  /*Estilo de selección default*/
  background-color: #ecbd19;
  border-radius: 10px;
  color: white;
  transition: 0.5s;
}

.subContenido {
  display: flex;
  flex-direction: column;

  /*Contenedor*/
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 5rem;
}

.subContenido .headerSubContenido {
  font-family: "Vina Sans", cursive;
  font-size: 120px;
  color: #265c4c;
  text-align: center;

  /*Contenedor*/
  margin: 0rem;
}

.jornada {
  display: flex;
  flex-direction: column;
  margin-left: 10rem;
  margin-right: 10rem;
}

.jornada .headerJornada {
  font-family: "Sarabun", sans-serif;
  font-weight: 700;
  font-size: 72px;
  color: #265c4c;

  /*Contenedor*/
  margin: 0rem;
}

.articulo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.partido {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
}

.partido .headerPartido {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0rem;
  margin: 0rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.partido .headerPartido h3 {
  font-family: "Sarabun", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: black;
  margin: 0rem;
}

.partido .enfrenta {
  display: flex;
  flex-direction: row;
  background-color: #8fc1b5;
  border-radius: 10px;
}

.partido .enfrenta ul {
  list-style: none;
  padding: 0rem;
  margin: 0rem;
}

.partido .enfrenta li {
  text-align: center;
  margin: 1rem;
}

.partido .enfrenta h3 {
  font-family: "Sarabun", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: black;
}