* {
    margin: 0;
}

.contenedor {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.contenedor .navegador {
    position: fixed;
    display: flex;
    align-items: stretch;
    background-color: #265C4C;
    width: 15%;
    height: 100%;
    top: 0;
	left: 0;
	bottom: 0;
    padding: 1rem 2rem;
}

.contenedor .navegador nav{
    margin: 0;
    padding: 1rem;
}

.contenedor .navegador nav ul{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.contenedor .navegador nav ul li{
    margin: 1rem;
}

.contenedor .navegador nav ul li a {
    text-decoration: none;
    font-family: 'Sarabun', sans-serif;
    font-size: 18px;
    color: white;
}

.contenedor .form {
    z-index: 1;
    margin: 2rem;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenedor .form h1 {
    font-family: 'Vina Sans', cursive;
    text-align: center;
    color: #ECBD19;
    font-size: 120px;
    margin-bottom: 3rem;
}

.contenedor .form form {
    font-family: 'Sarabun', sans-serif;
    text-align: center;
    color: black;
    font-size: 16px;
}

.contenedor .form form article {
    padding: 0.4rem;

    display: flex;
    justify-content: space-between;
    font-family: 'Sarabun', sans-serif;
    color: black;
    font-size: 16px;
}

.contenedor .form form article label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.contenedor .form form article input {
    width: 50%;
    margin: 0;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 30px;
    font-family: 'Sarabun', sans-serif;
    transition: .5s;
}

.contenedor .form form article input:hover {
    color: #ECBD19;
    transition: .5s;
  }

.contenedor .form form button {
    background-color: transparent;
    margin: 2rem;
    padding: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border: 1px solid black;
    border-radius: 30px;
    transition: .5s;
}

.contenedor .form form button:hover {
    background-color: black;
    color: white;
    transition: .5s;
}