#parrafo1{
  padding: 0rem;
  margin: 0rem;

  font-family: "Sarabun", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: black;
}

#parrafo1Bolt {
  padding: 0rem;
  margin: 0rem;

  font-family: "Sarabun", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: black;
}

#parrafo1BoltBig {
  padding: 0rem;
  margin: 0rem;

  font-family: "Sarabun", sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: black;
}

#parrafo2 {
  padding: 0rem;
  margin: 0rem;

  font-family: "Sarabun", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: black;
}

#parrafo2Bolt {
  padding: 0rem;
  margin: 0rem;

  font-family: "Sarabun", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: black;
}

#header1 {
  padding: 0rem;
  margin: 0rem;
  
  font-family: "Vina Sans", cursive;
  font-size: 120px;
  color: #265c4c;
  text-align: center;
}

#header2 {
  font-family: "Sarabun", sans-serif;
  font-weight: 400;
  font-size: 72px;
  color: #265c4c;
  margin: 0rem;
}

#header2Bolt {
  font-family: "Sarabun", sans-serif;
  font-weight: 700;
  font-size: 72px;
  color: #265c4c;
  margin: 0rem;
}

#campoContador {
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: none;
  font-family: "Sarabun", sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: black;
}

#campoContadorBig {
  height: 60px;
  width: 60px;
  background-color: transparent;
  border: none;
  font-family: "Sarabun", sans-serif;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  color: black;
}

#campoStandar {
  padding: 0rem;
  margin: 0rem;
  width: 100px;
  background-color: transparent;
  border: none;
  font-family: "Sarabun", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: black;
}

#campoStandarBig {
  padding: 0rem;
  margin: 0rem;
  width: 300px;
  background-color: transparent;
  border: none;
  font-family: "Sarabun", sans-serif;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  color: black;
}

#campoTablaNombre1 {
  border: 1px solid black;
  border-radius: 10px;
  padding-left: 10px;
}

#campoTablaNombre2 {
  padding: 0rem;
  margin: 0rem;
  width: 500px;
  background-color: transparent;
  border: none;
  font-family: "Sarabun", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: left;
  color: black;
}

#campoDato {
  padding: 0rem;
  margin: 0rem;
  width: 160px;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid black;
  font-family: "Sarabun", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: black;
}

#imgEscudo {
  width: 50px;
  height: auto;
}

#imgEscudoBig {
  width: 100px;
  height: auto;
}

#imgEstadio {
  width: 50px;
  height: auto;
}

#imgFoto {
  width: 150px;
  height: 160px;
}