/* Estructura Principal */
.contenido .contenedorAdmAgregarTecnicoNuevo {
    margin: 0rem;
    padding: 0rem;
}

.contenido .contenedorAdmAgregarTecnicoNuevo yourTags{
    margin: 0rem;
    padding: 0rem;
}