/* Estructura Principal */
.contenido .contenedorAdmAgregarTorneoNuevo {
    margin: 0rem;
    padding: 0rem;
}

.contenido .contenedorAdmAgregarTorneoNuevo yourTags{
    margin: 0rem;
    padding: 0rem;
}