/* Estructura Principal */
.contenido .contenedorAdmAgregarJugadorNuevo {
    margin: 0rem;
    padding: 0rem;
}

.contenido .contenedorAdmAgregarJugadorNuevo yourTags{
    margin: 0rem;
    padding: 0rem;
}