/* Estructura Principal */
.contenido .contenedorAdmAgregarEquipoNuevo {
    margin: 0rem;
    padding: 0rem;
}

.contenido .contenedorAdmAgregarEquipoNuevo yourTags{
    margin: 0rem;
    padding: 0rem;
}