/* Estructura Principal */
.contenido .contenedorAdmEditarNominaJugadores {
    margin: 0rem;
    padding: 0rem;
}

.contenido .contenedorAdmEditarNominaJugadores yourTags{
    margin: 0rem;
    padding: 0rem;
}