/* Estructura Principal */
.contenido .contenedorAdmEditarNominaTecnicos {
    margin: 0rem;
    padding: 0rem;
}

.contenido .contenedorAdmEditarNominaTecnicos yourTags{
    margin: 0rem;
    padding: 0rem;
}