/* Estructura Principal */
.contenido .contenedorDetallePartido {
    margin: 0rem;
    padding: 0rem;
    display: flex;
    flex-direction: column;
}

.contenido .contenedorDetallePartido .section1{
    margin: 0rem;
    padding: 0rem;

    align-self: center;
}

.contenido .contenedorDetallePartido .section2{
    margin: 0rem;
    padding: 0rem;
}

.contenido .contenedorDetallePartido .section2 article{
    margin: 0rem;
    padding: 5rem;
    display: flex;
    flex-direction: row;

    justify-content: center;
}

.contenido .contenedorDetallePartido .section2 article ul{
    margin: 0rem;
    padding: 0rem;
    display: flex;
    flex-direction: column;

    list-style-type: none;
    align-items: center;
}

.contenido .contenedorDetallePartido .section2 article ul li{
    margin: 0rem;
    padding: 0.2rem;
}

.contenido .contenedorDetallePartido .section2 article ul li input{
    text-align: center;
}

.contenido .contenedorDetallePartido .section3{
    margin: 0rem;
    padding: 0rem;
}

.contenido .contenedorDetallePartido .section3 article{
    margin: 0rem;
    padding: 5rem;
    display: flex;
    flex-direction: row;

    justify-content: center;
}

.contenido .contenedorDetallePartido .section3 article article{
    margin: 0rem;
    padding: 0rem;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.contenido .contenedorDetallePartido .section3 article article img{
    margin: 0.5rem;
    padding: 0rem;
}

.contenido .contenedorDetallePartido .section3 article article input{
    margin: 0rem;
    padding: 0rem;

    text-align: center;
}

.contenido .contenedorDetallePartido .section4{
    margin: 0rem;
    padding: 0rem;
}

.contenido .contenedorDetallePartido .section4 table{
    margin: 0rem;
    padding: 0rem;

    padding-top: 2rem;
    padding-bottom: 2rem;

    border-collapse: separate;
    border-spacing: 10px 5px;
}

.contenido .contenedorDetallePartido .section4 table tr{
    margin: 0rem;
    padding: 0rem;

    text-align: center;
}

.contenido .contenedorDetallePartido .section4 table tr td .campoPequenioB{
    text-align: center;
    padding-left: 0px;
}

.contenido .contenedorDetallePartido .section5{
    margin: 0rem;
    padding: 0rem;
}

.contenido .contenedorDetallePartido .section5 table{
    margin: 0rem;
    padding: 0rem;

    padding-top: 2rem;
    padding-bottom: 2rem;

    border-collapse: separate;
    border-spacing: 10px 5px;
}

.contenido .contenedorDetallePartido .section5 table tr{
    margin: 0rem;
    padding: 0rem;

    text-align: center;
}

.contenido .contenedorDetallePartido .section5 table tr td .campoPequenioB{
    text-align: center;
    padding-left: 0px;
}

.contenido .contenedorDetallePartido .section6{
    margin: 0rem;
    padding: 0rem;
}

.contenido .contenedorDetallePartido .section6 table{
    margin: 0rem;
    padding: 0rem;

    padding-top: 2rem;
    padding-bottom: 2rem;

    border-collapse: separate;
    border-spacing: 10px 5px;
}

.contenido .contenedorDetallePartido .section6 table tr{
    margin: 0rem;
    padding: 0rem;

    text-align: center;
}

.contenido .contenedorDetallePartido .section6 table tr td .campoPequenioB{
    text-align: center;
    padding-left: 0px;
}