/* Estructura Principal */
.contenido .contenedorFaseEquipos{
    margin: 0rem;
    padding: 0rem;
    display: flex;
    flex-direction: column;

    padding-top: 2rem;
}

.contenido .contenedorFaseEquipos h1{
    margin: 0rem;
    padding: 0rem;
    align-self: center;
}

.contenido .contenedorFaseEquipos table{
    margin: 0rem;
    padding: 0rem;

    margin-top: 2rem;
    align-self: center;
}

.contenido .contenedorFaseEquipos table tr{
    margin: 0rem;
    padding: 0rem;
}

.contenido .contenedorFaseEquipos table tr td{
    margin: 0rem;
    padding: 0.2rem;
}

.contenido .contenedorFaseEquipos table tr td a{
    margin: 1rem;
    padding: 0.2rem;
    border-radius: 12px;   
}