/* Estructura Principal */
.contenido .contenedorJornadaFaseEquipos {
    margin: 0rem;
    padding: 0rem;
    display: flex;
    flex-direction: column;

    padding-top: 2rem;
}

.contenido .contenedorJornadaFaseEquipos section{
    margin: 0.5rem;
    padding: 0rem;

    align-self: center;
}