@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: "Vina Sans Regular";
    src: url(./fonts/VinaSans-Regular.ttf) format('opentype');
}

@font-face {
    font-family: "Sarabun Regular";
    src: url(./fonts/Sarabun-Regular.ttf) format('opentype');
}

@font-face {
    font-family: "Sarabun Bold";
    src: url(./fonts/Sarabun-Bold.ttf) format('opentype');
}

